.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.pic-welcome img {
  max-width: 1000px;
  min-width: 1000px;
  background-color: cornflowerblue;
}
.item-2 {
  min-width: 450px;
  max-width: 450px;
  background-color: coral;
}
.item-3 {
  min-width: 450px;
  max-width: 450px;
  background-color: darkslategray;
}
